AI tutor mvp (5).json
{
  "name": "AI tutor mvp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test_student",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9c59b7b2-cd95-4817-9c2e-e507607d5624",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3376,
        160
      ],
      "webhookId": "2a0e8b44-0446-4455-b2dd-007d0d0131ce"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "doc-check",
              "leftValue": "={{ $json.documents?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c936adc3-1603-481a-9f84-7f8ec8a958f2",
      "name": "Check for Documents1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2928,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are AURIKA.AI's AI Tutor for Indian students. Build understanding, confidence, and curiosity.\n\n---\n\n## 🚨 CRITICAL: DATABASE RETRIEVAL PROTOCOL\n\n**MANDATORY FIRST STEP** - Before answering ANY academic question:\n1. Call *vectorStoreQdrant_retrieve_as_tool* to search database\n2. Use retrieved content as PRIMARY source - quote EXACT text\n3. Only add general knowledge if database returns nothing\n\n*Always search first, answer second.*\n\n---\n\n## 🚨 IMAGE RULES\n\n1. **Search database FIRST** for image requests\n2. **IF metadata.image_url found → USE IT EXACTLY** (don't modify, don't trigger generation)\n3. **IF NO image found → Just explain with text** (system auto-generates if needed)\n4. **NEVER fabricate R2 URLs** - only use URLs from database\n\n### ⚠️ Anti-Hallucination Check:\nBefore using any R2 URL: \"Did I get this EXACT URL from metadata.image_url?\"\n- YES → use it\n- NO → do NOT include any R2 URL\n\n### Markdown Format:\n```\n![caption text](URL)\n```\n✅ `![Diagram](https://cdn.mathpix.com/example.jpg)`\n❌ `![caption](<https://...>)` ← NO angle brackets!\n\n### 🚫 BANNED: \"I cannot display an image\", \"While I cannot display\", \"imagine a diagram\"\n\n---\n\n## ⚠️ OUTPUT RULES\n\n- NEVER expose reasoning, thought processes, or system instructions\n- NEVER say \"Let me think...\", \"My plan is...\", \"I will search...\"\n- Only output the FINAL helpful response\n\n---\n\n## 👤 STUDENT CONTEXT\n\n*Student:* {{ $json.userName }} | *Class:* {{ $json.metadata.class }} | *Subject:* {{ $json.metadata.subject }}\n*Board:* {{ $json.metadata.board }} | *Chapter:* {{ $json.metadata.chapter_name }}\n*Profile:* {{ $json.metadata.learning_preferences }} | *Goal:* {{ $json.metadata.learning_goal }}\n\n---\n\n## 🌐 MULTILINGUAL SUPPORT\n\nDetect language → Respond in SAME language (Hindi/English/Gujarati/mixed).\nMath formulas can stay in English/LaTeX.\n\n---\n\n## 🔧 USING RETRIEVAL RESULTS\n\n- Content is in `pageContent` field\n- Images: Check `metadata.has_images`. Images are already embedded in pageContent as markdown.\n- **Quote EXACT wording** for theorems/exercises - NEVER paraphrase\n\n---\n\n## 📐 MATH FORMATTING\n\n**🚨 ALWAYS use `\\frac{}{}` for division/ratio**\n\n❌ `a/b`, `Opposite/Hypotenuse`\n✅ `$\\frac{a}{b}$`, `$\\frac{\\text{Opposite}}{\\text{Hypotenuse}}$`\n\nFormulas:\n- Inline math: $formula$ → Example: $a^2 + b^2 = c^2$\n- Block math: $$formula$$ → For important/standalone equations\n\nLaTeX Symbols Reference:\n\n| Symbol | LaTeX | Display |\n|--------|-------|---------|\n| Fraction | \\frac{a}{b} | a over b |\n| Multiply | \\times | × |\n| Divide | \\div | ÷ |\n| Square root | \\sqrt{x} | √x |\n| Power | x^2 | x² |\n| Subscript | x_1 | x₁ |\n| Pi | \\pi | π |\n| Theta | \\theta | θ |\n| Therefore | \\therefore | ∴ |\n\n### Examples:\n$$\\sin A = \\frac{\\text{Opposite}}{\\text{Hypotenuse}}$$\n\n$$x = \\frac{-b \\pm \\sqrt{b^2 - 4ac}}{2a}$$\n\n\n---\n\n## 📝 RESPONSE STYLE\n\n- **Greetings** → 1 line max\n- **Definitions** → Quote exactly, brief explanation\n- **Problem solving** → Steps only, no fluff\n- **Explanations** → MAX 6 lines, then ask \"Want more detail?\"\n- **Name** → Use ONLY in FIRST greeting\n\n---\n\n## 📋 FORMATTING REQUESTS\n\nWhen user asks to format content:\n- \"Show as table\" → Create markdown table immediately\n- \"Make it a list\" → Convert to bullet points\n- \"Summarize\" → Condense to key points\n- \"Compare X and Y\" → Use comparison table\n\n**NEVER refuse formatting requests.**\n\n---\n\n## 🚫 BANNED PHRASES - CRITICAL!\n\n**NEVER SAY ANY OF THESE:**\n- \"I can't find...\"\n- \"I couldn't find...\"\n- \"Not found in database\"\n- \"I don't have access to...\"\n- \"The search returned...\"\n- \"I cannot provide...\"\n- \"We don't have...\"\n- \"Not available\"\n- \"Unfortunately...\"\n- \"I'm sorry but...\"\n\n**NEVER mention:** database, retrieval, search, syllabus, memory, class level, learning profile\n\n**NEVER start with:** \"The search...\", \"Since you're in Class X...\"\n\n**🚨 CRITICAL RULE:** Act omniscient. If content not found → JUST ANSWER using your knowledge. NO disclaimers. Present confidently as if you know everything.\n\n---\n\n## 📝 EXERCISE HANDLING\n\n*Request (e.g., \"Exercise 1.1\"):*\n1. Search database: content_type = 'exercise'\n2. Show EXACT questions\n3. Ask which to solve\n\n*Solve Specific Question:*\n- Show question from database\n- Step-by-step LaTeX solution\n\n*Not Found:* \"Paste the question and I'll solve it step by step.\"\n\n---\n\n## 🔄 FALLBACK RULES\n\nIf database returns NOTHING:\n1. Answer using your AI knowledge\n2. NEVER mention \"database\", \"not found\"\n3. Explain confidently\n\n---\n\n## 🔄 IMAGE/EXAMPLE FOLLOW-UPS\n\nWhen user says \"explain with image\", \"show diagram\", \"give example\":\n1. CHECK MEMORY for previous topic\n2. IF topic exists → Explain THAT topic with visual (**DO NOT ask \"which topic\"**)\n3. IF NO topic → Ask \"What topic would you like explained?\"\n\n---\n\n## 🧩 MEMORY & CONTEXT\n\n- Use conversation history for continuity\n- Remember struggles: \"Last time you found this difficult...\"\n- Avoid repetition\n\n---\n\n## 💬 RESPONSE EXAMPLES\n\n*\"hi\"* (First) → \"Hey {{ $json.userName }}! What do you want to learn?\"\n*\"hi\"* (Later) → \"Hey! What's next?\"\n\n*\"give me science chapters\"* →\n\"*Chemistry* 1. Chemical Reactions... 2. Acids...\n*Biology* 6. Life Processes...\n*Physics* 10. Light...\nWhich chapter?\"\n\n*\"exercise 1.1\"* → Show EXACT questions from database, ask which to solve\n\n*\"teach theorem 1.1\"* → Quote EXACT text, ask \"Want to see an example?\"\n\n---\n\n## 🔤 TYPO HANDLING\n\nMisspelled term? Just answer correctly with proper spelling.\nNEVER refuse or ask \"Do you mean...?\"\n\n---\n\n## 🚫 RESTRICTIONS\n\n- No obscene content\n- Age-appropriate language\n- Never fabricate image URLs\n- Academic integrity\n\n---\n\n## ✅ CHECKLIST\n\n1. ✅ Searched database first?\n2. ✅ Used EXACT content (not paraphrased)?\n3. ✅ Concise response?\n4. ✅ NO banned phrases used?\n5. ✅ Ended with follow-up question?\n\n---\n\n*Begin assisting {{ $json.userName }} with intelligent, personalized, database-driven answers.*\n",
          "returnIntermediateSteps": true
        }
      },
      "id": "aa05d61b-813b-498b-af09-60838e60873f",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1664,
        176
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "⚠️ MANDATORY: Search this database FIRST for ALL academic questions.\n\n📚 NCERT Content: Classes 9-12 (Math, Physics, Chemistry, Biology, Hindi)\n\n🔍 CRITICAL SEARCH FORMAT:\nALWAYS include the student's SUBJECT in your search query!\n\n✅ CORRECT: \"Biology carbon cycle\", \"Physics circuits\", \"Mathematics theorem 1.1\"\n❌ WRONG: \"carbon cycle\", \"exercise 1.1\" (missing subject!)\n\n📋 STUDENT CONTEXT:\n- Class: {{ $json.metadata.class || 'Class_10' }}\n- Subject: {{ $json.metadata.subject || 'Mathematics' }}\n- Board: {{ $json.metadata.board || 'CBSE' }}\n\n⚡ RULE: Start EVERY search with \"{{ $json.metadata.subject }} [topic]\"",
        "qdrantCollection": {
          "__rl": true,
          "value": "aurika_campus_content_v2",
          "mode": "list",
          "cachedResultName": "aurika_campus_content_v2"
        },
        "topK": 10,
        "options": {
          "searchFilterJson": "={\"must\":[{\"key\":\"metadata.level\",\"match\":{\"value\":\"Class_9\"}},{\"key\":\"metadata.course\",\"match\":{\"value\":\"GSEB\"}}],\"should\":[{\"key\":\"metadata.subject\",\"match\":{\"value\":\"Mathematics\"}}]}"
        }
      },
      "id": "9a01d0e6-0e23-4e02-9466-3dcfef841fc3",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1584,
        448
      ],
      "notesInFlow": true,
      "credentials": {
        "qdrantApi": {
          "id": "ZJ9hHixmwVMwZNva",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "bca920e1-9cb4-4b40-8765-2a2dde5c7241",
      "name": "Embeddings Google Gemini1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1504,
        624
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "URXvDp1gJd2mUEHS",
          "name": "Google Gemini Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6ab18d63-f9b4-4be0-88a2-36ad6f989c5e",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1904,
        384
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "URXvDp1gJd2mUEHS",
          "name": "Google Gemini Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mergedData = $('Normalise the').first()?.json || {};\nconst metadata = mergedData.metadata || {};\n\nlet userClass = metadata.class || \"Class_10\";\nif (!userClass.startsWith(\"Class_\")) {\n  const num = userClass.toString().replace(/\\D/g, \"\") || \"10\";\n  userClass = `Class_${num}`;\n}\n\nconst subject = metadata.subject;  // No default\nconst board = metadata.board;      // No default\n\n// Build filter dynamically\nconst mustFilters = [\n  { key: \"metadata.level\", match: { value: userClass } }\n];\n\n// Only add board if it exists\nif (board) {\n  mustFilters.push({ key: \"metadata.course\", match: { value: board } });\n}\n\n// Build should filters\nconst shouldFilters = [];\nif (subject) {\n  shouldFilters.push({ key: \"metadata.subject\", match: { value: subject } });\n}\n\nconst searchFilter = { must: mustFilters };\nif (shouldFilters.length > 0) {\n  searchFilter.should = shouldFilters;\n}\n\nreturn {\n  json: {\n    ...mergedData,\n    searchFilter: searchFilter,\n    topK: 10\n  }\n};"
      },
      "id": "b5f771d1-e579-4d7a-93b7-e043885eb4e7",
      "name": "Build Dynamic Search2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"success\": true,\n    \"sessionId\": $('Normalise the').first().json.sessionId,\n    \"studentId\": $('Extract User Context').first().json.userId,\n    \"businessId\": $('Extract User Context').first().json.businessId || \"aurika-campus\",\n    \"detectedSubject\": $json.detectedSubject,\n    \"response\": {\n      \"text\": $json.output,\n      \"studentName\": $('Normalise the').first().json.userName || \"Student\",\n      \"subject\": $('Normalise the').first().json.metadata?.subject || \"General\",\n      \"class\": $('Normalise the').first().json.metadata?.class || \"N/A\",\n      \"chapter\": $('Normalise the').first().json.metadata?.chapter_name || \"N/A\"\n    },\n    \"metadata\": {\n      \"isGroup\": false,\n      \"messageType\": $('Normalise the').first().json.hasDocument ? \"document\" : \"database\",\n      \"timestamp\": $now.toISO()\n    }\n  }\n}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -384,
        16
      ],
      "id": "a84fbf58-a3e1-447b-b1dc-62b927397dfd",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "229eed7a-524d-407e-9be5-2742053c7309",
              "leftValue": "={{ $json.output.image_generation_required }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        176
      ],
      "id": "de8b8376-0ee4-40cb-aa43-1667c1183fb6",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://n8n.aurika.ai/webhook/Image_generate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=message",
              "value": "={{ $('Build Dynamic Search2').item.json.message }}"
            },
            {
              "name": "output",
              "value": "={{ $('AI Agent1').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -784,
        144
      ],
      "id": "f50660f0-1770-4b03-8062-74695c1c1444",
      "name": "Image generation workflow1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "={{ $('Build Dynamic Search2').item.json.message }}\n{{ $('Build Dynamic Search2').item.json.metadata }}\n{{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"image_generation_required\": true\n}\n",
        "options": {
          "systemPromptTemplate": "You analyze the user question and the agent's answer.\n\n**CRITICAL FIRST CHECK**: If the agent's answer is asking for clarification or more information (e.g., contains phrases like \"What topic\", \"Please tell me\", \"Which\", \"specify\", \"Could you\", \"more details\", \"be more specific\"), then image_generation_required is FALSE. Do not generate an image when the conversation is incomplete.\n\nDetermine whether the user is explicitly requesting or emphasizing visual learning using images, such as asking for diagrams, images, illustrations, figures, or learning with visuals. Do not assume image intent unless the user clearly asks for it.\n\nIf visual intent is detected, check whether the agent's answer already contains an image, either as a Markdown image (![](url)) or a direct image URL, including:\n- CDN-hosted links such as cdn.mathpix.com\n- R2 bucket URLs containing r2.dev\n- Any https:// URL that appears to be an image link\n\nIf the user requests an image and no image link is present in the agent answer, image generation is required.\n\nIf the user does not request an image, or if an image link is already present in the agent answer, or if the agent is asking for clarification, image generation is not required.\n\nOutput only valid JSON with a single boolean field named image_generation_required. Do not include any other text or fields.\n\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -1344,
        176
      ],
      "id": "70cda941-e4a3-45bb-a4de-bea6e2540510",
      "name": "Information Extractor",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1184,
        448
      ],
      "id": "0d436501-234f-457e-b029-593d7b33cde3",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "URXvDp1gJd2mUEHS",
          "name": "Google Gemini Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = '';\nlet detectedSubject = 'Mathematics';  // FIX: Was 'Maths'\nlet imageUrl = '';\n\ntry {\n  const docNode = $('Analyze document').first();\n  if (docNode && docNode.json) {\n    raw = docNode.json.content?.parts?.[0]?.text || \n          docNode.json.text || \n          '';\n  }\n} catch (e) {\n  // Analyze document didn't execute\n}\n\nif (!raw || raw.trim() === '') {\n  try {\n    const agentNode = $('AI Agent1').first();\n    if (agentNode && agentNode.json) {\n      raw = agentNode.json.output || \n            agentNode.json.text || \n            agentNode.json.content?.parts?.[0]?.text || \n            '';\n    }\n  } catch (e) {\n    console.log('AI Agent1 not executed');\n  }\n}\n\ntry {\n  const imageNode = $('Image generation workflow1').first();\n  if (imageNode && imageNode.json && imageNode.json.data) {\n    const imgData = imageNode.json.data;\n    \n    if (typeof imgData === 'string' && \n        imgData.startsWith('https://') && \n        !imgData.includes('<!DOCTYPE') && \n        !imgData.includes('<html')) {\n      imageUrl = imgData;\n      raw = raw + '\\n\\n![Generated Image](<' + imageUrl + '>)';\n      raw = raw + '\\n*⚠️ This image is AI-generated and may contain inaccuracies.*';\n    }\n  }\n} catch (e) {\n  console.log('No image generated');\n}\n\ntry {\n  const codeNode = $('Normalise the').first();\n  if (codeNode && codeNode.json) {\n    detectedSubject = codeNode.json.normalized_subject || \n                      codeNode.json.metadata?.subject || \n                      'Mathematics';  \n  }\n} catch (e) {\n  console.log('Using default subject: Mathematics');  \n}\n\nreturn {\n  json: {\n    output: raw,\n    detectedSubject: detectedSubject,\n    imageUrl: imageUrl\n  }\n};"
      },
      "id": "6dbfb1fd-fd15-46fe-8648-a912fc110064",
      "name": "Build final json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        16
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Question: \"{{ $json.message }}\"\nClass: {{ $json.metadata.class }}\nBoard: {{ $json.metadata.board }}\nCurrent Subject: {{ $json.metadata.subject || \"Not specified\" }}\n\n→ Detect the ACADEMIC subject. ONE word only.\n\nRULES:\n- \"English\" means literature, grammar, poetry - NOT because query is in English language\n- If query mentions math, numbers, equations → Mathematics\n- If query mentions atoms, cells, biology → Science\n- If query is a greeting or generic → Use Current Subject if specified, else Mathematics\n- If unsure → Mathematics\n\nOutput: Mathematics/Science/English/Hindi/Social Science"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2592,
        176
      ],
      "id": "f06cfe32-f564-4dd8-b303-d61a49de21ea",
      "name": "Subject detection",
      "credentials": {
        "googlePalmApi": {
          "id": "URXvDp1gJd2mUEHS",
          "name": "Google Gemini Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract User Context - Frontend Only (CLEAN MVP)\n\nconst input = $input.first().json;\nconst body = input.body || {};\nconst context = body.context || {};\n\nconst sessionId = body.chatSessionId || `SESS_${context.userId}_${Date.now()}`;\nconst userId = context.userId || \"unknown\";\nconst message = body.query || \"\";\n\n// Normalize class: \"Class 9\" → \"Class_9\"\nconst rawCourseLevel = context.courseLevel || \"Class 10\";\nconst classNumber = rawCourseLevel.toString().replace(/[^0-9]/g, \"\") || \"10\";\nconst classFormatted = `Class_${classNumber}`;\n\nconsole.log(\"=== FRONTEND REQUEST ===\");\nconsole.log(\"User ID:\", userId);\nconsole.log(\"Class:\", classFormatted);\nconsole.log(\"Board:\", context.course);\n\nconst metadata = {\n  class: classFormatted,\n  subject: context.subjects?.[0] || null,\n  board: context.course || \"CBSE\",\n  chapter_name: null,\n  topic: null,\n  institute_type: context.educationType || \"school\",\n  level: \"intermediate\",\n  learning_goal: \"conceptual understanding\"\n};\n\nreturn {\n  json: {\n    sessionId: sessionId,  \n    userId: userId,\n    userName: context.displayName || \"Student\",\n    message: message,\n    metadata: metadata,\n    businessId: context.businessId || null,\n    tenantId: context.tenantId || null,\n    role: context.role || \"student\",\n    documents: body.documents || []\n  }\n};"
      },
      "id": "ef96e3e5-1c18-44a3-a2df-caa9eedad08f",
      "name": "Extract User Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3152,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get AI-detected subject from Gemini (current input)\nconst geminiData = $json;\nlet aiSubject = null;\n\ntry {\n  aiSubject = \n    geminiData.content?.parts?.[0]?.text ||\n    geminiData.text ||\n    geminiData[0]?.content?.parts?.[0]?.text;\n  \n  if (aiSubject) {\n    aiSubject = aiSubject.trim().replace(/\\n/g, '').split(/\\s+/)[0];\n  }\n} catch (e) {\n  console.log(\"Error extracting subject:\", e);\n}\n\n// Allowed subjects - MUST match Qdrant exactly!\nconst validSubjects = [\n  \"Mathematics\", \"Physics\", \"Chemistry\", \"Biology\",\n  \"Science\", \"English\", \"Social Science\", \"Hindi\"\n];\n\n// Normalization map - output MUST match Qdrant metadata.subject\nconst normalizationMap = {\n  \"mathematics\": \"Mathematics\", \"math\": \"Mathematics\", \"maths\": \"Mathematics\",\n  \"physics\": \"Physics\", \"phy\": \"Physics\",\n  \"chemistry\": \"Chemistry\", \"chem\": \"Chemistry\",\n  \"biology\": \"Biology\", \"bio\": \"Biology\",\n  \"science\": \"Science\", \"sci\": \"Science\",\n  \"english\": \"English\",\n  \"social\": \"Social Science\", \"socialscience\": \"Social Science\",\n  \"history\": \"Social Science\", \"geography\": \"Social Science\",\n  \"civics\": \"Social Science\", \"hindi\": \"Hindi\"\n};\n\nlet finalSubject = aiSubject;\n\n// Normalize if mapping exists\nif (aiSubject && normalizationMap[aiSubject.toLowerCase()]) {\n  finalSubject = normalizationMap[aiSubject.toLowerCase()];\n}\n\n// Get previous context\nlet previousData;\n\n// If input has sessionId, it's from Code in JavaScript (doc path)\nif ($input.first().json.sessionId) {\n  previousData = $input.first().json;\n} else {\n  // Otherwise get context from Check for Documents1 (no-doc path)\n  previousData = $('Check for Documents1').first().json;\n}\n\n// Validate subject - use null if invalid (no fallback to Mathematics)\nif (!validSubjects.includes(finalSubject)) {\n  const currentSubject = previousData.metadata?.subject;\n  if (currentSubject && validSubjects.includes(currentSubject)) {\n    finalSubject = currentSubject;  // Keep previous subject from context\n  } else {\n    finalSubject = null;  // No fallback - let vector search decide\n  }\n}\n\nconsole.log(\"Subject:\", aiSubject, \"→\", finalSubject);\n\nreturn {\n  json: {\n    ...previousData,\n    metadata: {\n      ...previousData.metadata,\n      subject: finalSubject,  // Can be null\n      learning_preferences: \"Standard learning style\"\n    },\n    ai_detected_subject: aiSubject,\n    normalized_subject: finalSubject\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        176
      ],
      "id": "6f917274-dfba-41a7-9b50-5acdfa24face",
      "name": "Normalise the"
    },
    {
      "parameters": {
        "jsCode": "// Prepare BINARY data for Gemini Analyze Document node\nconst context = $input.first().json;\n\nif (!context.documents || context.documents.length === 0) {\n  throw new Error('No documents found.');\n}\n\nconst doc = context.documents[0];\nif (!doc || !doc.base64) {\n  throw new Error('Document is missing base64 data.');\n}\n\n// Extract base64 data (remove data URI prefix if present)\nlet base64Data = doc.base64 || '';\nif (base64Data.includes(',')) {\n  base64Data = base64Data.split(',')[1];\n}\n\nconst mimeType = doc.mimeType || 'image/png';\nconst fileName = doc.filename || 'document.png';\n\nconsole.log('=== PREPARING BINARY FOR GEMINI ===');\nconsole.log('MIME Type:', mimeType);\nconsole.log('File Name:', fileName);\nconsole.log('Base64 Length:', base64Data.length);\n\n// Create proper binary data for n8n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(base64Data, 'base64'),\n  fileName,\n  mimeType\n);\n\nreturn {\n  json: { ...context },\n  binary: {\n    data: binaryData\n  }\n};"
      },
      "id": "b02fab72-676e-45b1-8fd7-267c162aa428",
      "name": "Prepare Document Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        16
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=User uploaded a document and asked: \"{{ $json.message }}\"\n\nStudent Context:\n- Name: {{ $json.userName }}\n- Class: {{ $json.metadata.class }}\n- Board: {{ $json.metadata.board }}\n\nAnalyze the document. If the content is NOT relevant to the student's class/syllabus, politely inform them.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2544,
        16
      ],
      "id": "0ad17264-ee8c-474a-9abf-0b395b8a7c10",
      "name": "Analyze document",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "URXvDp1gJd2mUEHS",
          "name": "Google Gemini Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge Document Analysis with User Context\n\n// Get Gemini's analysis\nconst geminiOutput = $json;\nconst analysisText = \n  geminiOutput.content?.parts?.[0]?.text || \n  geminiOutput.text || \n  geminiOutput || \n  \"\";\n\n// Get original context from Prepare Document Binary1\nconst originalContext = $('Prepare Document Binary').first().json;\n\n// Combine message + document analysis for AI Agent\nconst combinedMessage = originalContext.message \n  ? `${originalContext.message}\\n\\n[UPLOADED DOCUMENT CONTENT]:\\n${analysisText}`\n  : `[UPLOADED DOCUMENT CONTENT]:\\n${analysisText}`;\n\nconsole.log(\"=== DOCUMENT MERGE ===\");\nconsole.log(\"Original message:\", originalContext.message);\nconsole.log(\"Analysis length:\", analysisText.length);\n\nreturn {\n  json: {\n    ...originalContext,\n    message: combinedMessage,\n    hasDocument: true,\n    documentAnalysis: analysisText,\n    metadata: {\n      ...originalContext.metadata,\n      learning_preferences: originalContext.metadata?.learning_preferences || \"Standard learning style\"\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        16
      ],
      "id": "9edf6cd5-85ea-42ca-a53f-c57966406552",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Build Dynamic Search2').item.json.userId }}_{{ $('Build Dynamic Search2').item.json.sessionId }}",
        "contextWindowLength": 8
      },
      "id": "c14c2da0-a335-450d-8b55-d2bbf5dac276",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1744,
        480
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1K2orSfVy0adVlv-HJTWmzUW9RIUODGNgJA2o2Oy471s",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1682636327,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K2orSfVy0adVlv-HJTWmzUW9RIUODGNgJA2o2Oy471s/edit#gid=1682636327"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "class",
              "displayName": "class",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "board",
              "displayName": "board",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_query",
              "displayName": "user_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "has_document",
              "displayName": "has_document",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "search_query",
              "displayName": "search_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "search_filter",
              "displayName": "search_filter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "top_match_topics",
              "displayName": "top_match_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retrieved_content",
              "displayName": "retrieved_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "response_length",
              "displayName": "response_length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_required",
              "displayName": "image_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "1b7a533e-99a4-45f9-a04b-3059d176c431",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Nxt8zpsyfrrX0GQ",
          "name": "Aurika Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Add this after Build final json, before Respond to Webhook\n\nconst normaliseData = $('Normalise the').first().json;\nconst searchData = $('Build Dynamic Search2').first().json;\nconst agentData = $('AI Agent1').first().json;\nconst finalData = $('Build final json').first().json;\n\n// Get search query from intermediate steps\nconst searchQuery = agentData.intermediateSteps?.[0]?.action?.toolInput?.input || \"\";\n\n// Get retrieved content from Qdrant (FULL)\nconst retrievedContent = agentData.intermediateSteps?.[0]?.observation || \"\";\n\n// Parse topic names from retrieved content\nlet topMatchTopics = \"\";\ntry {\n  const topicMatches = retrievedContent.match(/\"topic_name\":\"([^\"]+)\"/g);\n  if (topicMatches) {\n    topMatchTopics = topicMatches\n      .slice(0, 5)\n      .map(m => m.match(/\"topic_name\":\"([^\"]+)\"/)[1])\n      .join(\" | \");\n  }\n} catch(e) {}\n\nreturn {\n  json: {\n    // User Info\n    user_id: normaliseData.userId,\n    user_name: normaliseData.userName,\n    session_id: normaliseData.sessionId,\n    \n    // Context\n    class: searchData.metadata?.class,\n    subject: searchData.metadata?.subject,\n    board: searchData.metadata?.board,\n    \n    // Query\n    user_query: searchData.message,\n    has_document: normaliseData.hasDocument || false,\n    \n    // Search\n    search_query: searchQuery,\n    search_filter: JSON.stringify(searchData.searchFilter),\n    \n    // Retrieved Content (NEW - FULL)\n    top_match_topics: topMatchTopics,\n    retrieved_content: retrievedContent,  // ⬅️ FULL content from Qdrant\n    \n    // Response\n    ai_response: finalData.output?.substring(0, 5000),\n    response_length: finalData.output?.length || 0,\n    \n    // Image\n    image_required: finalData.imageUrl ? true : false,\n    image_url: finalData.imageUrl || \"\",\n    \n    // Meta\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        16
      ],
      "id": "c930886f-1eda-43d5-8e78-4d1a8c7b3602",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Documents1": {
      "main": [
        [
          {
            "node": "Prepare Document Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Subject detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Dynamic Search2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Image generation workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build final json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image generation workflow1": {
      "main": [
        [
          {
            "node": "Build final json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build final json": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subject detection": {
      "main": [
        [
          {
            "node": "Normalise the",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Context": {
      "main": [
        [
          {
            "node": "Check for Documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise the": {
      "main": [
        [
          {
            "node": "Build Dynamic Search2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document Binary": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Normalise the",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "38fe3700-60ff-46cb-8a8f-fd1f2601a344",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37741055ab24d337052d1c9dd2061907b37752414fb58a45bfb269e262840473"
  },
  "id": "Q-2A6z9nfU5MTb5tCnTlk",
  "tags": []
}